.line-chart {
    background-color: #C7D9D9;
    }

.bar {
     fill: #115D8C;
     }

/* .typesinput {
   background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
}

.first-type {
   position: relative;
   display: inline-block;
}

.types {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.types option {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.types option:hover {background-color: #ddd;}

.dropdown:hover .types {display: block;}

.dropdown:hover .typesinput {background-color: #3e8e41;} */
